



.fl-node-5d6ad46f2964a .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5d6ad46f2964a .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5d6ad46f2964a .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5d6ad46f2964a > .fl-row-content-wrap {
	background-color: #D9D9D9;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}
.fl-node-5d6ad46f2964a.fl-row-fixed-width, .fl-node-5d6ad46f2964a .fl-row-fixed-width {
	max-width: 1440px;
}
@media(max-width: 768px) {
}
@media(max-width: 480px) {
}
 .fl-node-5d6ad46f2964a > .fl-row-content-wrap {
	padding-top:5px;
	padding-bottom:20px;
}




.fl-node-5d0cc29ca9a63 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5d0cc29ca9a63 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5d0cc29ca9a63 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}

.fl-node-5d0cc29ca9a63.fl-row-fixed-width, .fl-node-5d0cc29ca9a63 .fl-row-fixed-width {
	max-width: 1440px;
}
@media(max-width: 768px) {
}
@media(max-width: 480px) {
}
 .fl-node-5d0cc29ca9a63 > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}




.fl-node-5d6ad46f14b45 {
	width: 100%;
}
.fl-node-5d6ad46f14b45 > .fl-col-content {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
@media(max-width: 768px) {
}
@media(max-width: 480px) {
	.fl-builder-content .fl-node-5d6ad46f14b45 {
		width: 80% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}




.fl-node-5d6ad46f14b47 {
	width: 100%;
}
@media(max-width: 768px) {
}
@media(max-width: 480px) {
}




.fl-node-5d0cc29cb5732 {
	width: 49.62%;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-5d0cc29cb5732 {
		width: 58% !important;
		max-width: none;
		-webkit-box-flex: 0 1 auto;
		-moz-box-flex: 0 1 auto;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}
}
@media(max-width: 480px) {
	.fl-builder-content .fl-node-5d0cc29cb5732 {
		width: 95% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}
@media ( max-width: 768px ) {
 .fl-node-5d0cc29cb5732.fl-col > .fl-col-content {
	margin-left:15px;
}
}




.fl-node-5d6be18600bc7 {
	width: 50%;
}
@media(max-width: 768px) {
}
@media(max-width: 480px) {
	.fl-builder-content .fl-node-5d6be18600bc7 {
		width: 49% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}




.fl-node-5d6be18600bcd {
	width: 50%;
}
@media(max-width: 768px) {
}
@media(max-width: 480px) {
	.fl-builder-content .fl-node-5d6be18600bcd {
		width: 51% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}




.fl-node-5d68b5686affd {
	width: 100%;
}
.fl-node-5d68b5686affd > .fl-col-content {
	background-color: #ffffff;
}
@media(max-width: 768px) {
}
@media(max-width: 480px) {
}
 .fl-node-5d68b5686affd > .fl-col-content {
	margin-bottom:15px;
}
 .fl-node-5d68b5686affd > .fl-col-content {
	padding-left:15px;
}




.fl-node-5d25969aca5db {
	width: 100%;
}
.fl-node-5d25969aca5db > .fl-col-content {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
@media(max-width: 768px) {
}
@media(max-width: 480px) {
	.fl-builder-content .fl-node-5d25969aca5db {
		width: 80% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}
@media ( max-width: 480px ) {
 .fl-node-5d25969aca5db.fl-col > .fl-col-content {
	margin-bottom:0px;
}
}
 .fl-node-5d25969aca5db > .fl-col-content {
	padding-top:5px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}
@media ( max-width: 480px ) {
 .fl-node-5d25969aca5db.fl-col > .fl-col-content {
	padding-bottom:0px;
	padding-left:0px;
}
}




.fl-node-5d700ce913d91 {
	width: 50%;
}
@media(max-width: 768px) {
}
@media(max-width: 480px) {
	.fl-builder-content .fl-node-5d700ce913d91 {
		width: 49% !important;
		max-width: none;
		clear: none;
		float: left;
	}
	.fl-builder-content .fl-node-5d700ce913d91 > .fl-col-content {
		min-height: 0px;
	}
}
 .fl-node-5d700ce913d91 > .fl-col-content {
	margin-top:20px;
}
@media ( max-width: 480px ) {
 .fl-node-5d700ce913d91.fl-col > .fl-col-content {
	margin-top:20px;
}
}




.fl-node-5d700ce913d98 {
	width: 50%;
}
@media(max-width: 768px) {
}
@media(max-width: 480px) {
	.fl-builder-content .fl-node-5d700ce913d98 {
		width: 51% !important;
		max-width: none;
		clear: none;
		float: left;
	}
	.fl-builder-content .fl-node-5d700ce913d98 > .fl-col-content {
		min-height: 0px;
	}
}
 .fl-node-5d700ce913d98 > .fl-col-content {
	margin-top:20px;
}
@media ( max-width: 480px ) {
 .fl-node-5d700ce913d98.fl-col > .fl-col-content {
	margin-top:20px;
}
}




.fl-node-5d700eaed741b {
	width: 100%;
}
.fl-node-5d700eaed741b > .fl-col-content {
	background-color: #121212;
}
@media(max-width: 768px) {
}
@media(max-width: 480px) {
	.fl-node-5d700eaed741b > .fl-col-content {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}
@media ( max-width: 480px ) {
 .fl-node-5d700eaed741b.fl-col > .fl-col-content {
	margin-top:0px;
}
}




.fl-node-5d73c787645b2 {
	width: 100%;
}
.fl-node-5d73c787645b2 > .fl-col-content {
	background-color: #ffffff;
	border-style: solid;
	border-width: 0;
	background-clip: padding-box;
	border-color: #f05123;
	border-top-width: 4px;
}
@media(max-width: 768px) {
}
@media(max-width: 480px) {
}




.fl-node-5d0cc29cb5750 {
	width: 25.8%;
}
.fl-node-5d0cc29cb5750 > .fl-col-content {
	border-style: solid;
	border-width: 0;
	background-clip: padding-box;
	border-top-width: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-5d0cc29cb5750 {
		width: 42% !important;
		max-width: none;
		-webkit-box-flex: 0 1 auto;
		-moz-box-flex: 0 1 auto;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}
}
@media(max-width: 480px) {
	.fl-builder-content .fl-node-5d0cc29cb5750 {
		width: 95% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}
@media ( max-width: 480px ) {
 .fl-node-5d0cc29cb5750.fl-col > .fl-col-content {
	margin-left:15px;
}
}
 .fl-node-5d0cc29cb5750 > .fl-col-content {
	padding-top:0px;
	padding-right:15px;
	padding-left:15px;
}




.fl-node-5d26fd0996690 {
	width: 100%;
}
.fl-node-5d26fd0996690 > .fl-col-content {
	background-color: #121212;
}
@media(max-width: 768px) {
}
@media(max-width: 480px) {
}




.fl-node-5d278f8c24516 {
	width: 100%;
}
@media(max-width: 768px) {
}
@media(max-width: 480px) {
}
 .fl-node-5d278f8c24516 > .fl-col-content {
	margin-top:3px;
}




.fl-node-5d0cc29cb575a {
	width: 24.58%;
}
.fl-node-5d0cc29cb575a > .fl-col-content {
	background-color: #d9d9d9;
}
.fl-builder-content .fl-node-5d0cc29cb575a > .fl-col-content {
	min-height: 190vh;
}
@media(max-width: 768px) {
	.fl-builder-content .fl-node-5d0cc29cb575a {
		width: 24.58% !important;
		max-width: none;
		-webkit-box-flex: 0 1 auto;
		-moz-box-flex: 0 1 auto;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}
}
@media(max-width: 480px) {
	.fl-builder-content .fl-node-5d0cc29cb575a {
		width: 24.58% !important;
		max-width: none;
		clear: none;
		float: left;
	}
}
 .fl-node-5d0cc29cb575a > .fl-col-content {
	margin-top:-14px;
	margin-right:0px;
}
 .fl-node-5d0cc29cb575a > .fl-col-content {
	padding-top:3px;
}
 .fl-node-5d6ad46f14b46 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d6ad46f14b48 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
@media ( max-width: 480px ) {
 .fl-node-5d6ad46f14b48.fl-module > .fl-module-content {
	margin-right:20px;
	margin-bottom:10px;
	margin-left:20px;
}
}
 .fl-node-5d0cc4986a1c4 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d63a04cf3681 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d6ad2eb01866 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d6be18aacb9e > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:13px;
}
@media ( max-width: 480px ) {
 .fl-node-5d6be18aacb9e.fl-module > .fl-module-content {
	margin-left:10px;
}
}
 .fl-node-5d6be196a09dc > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d76a0423be8f > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d6ad4e86b388 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d6ad4b1374db > .fl-module-content {
	margin-top:5px;
	margin-right:5px;
	margin-bottom:5px;
	margin-left:5px;
}
 .fl-node-5d243ceca6f14 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d24f5a4e94a0 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d6f9d216672e > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d24fd4193b05 > .fl-module-content {
	margin-top:-5px;
	margin-right:0px;
	margin-bottom:15px;
	margin-left:0px;
}
@media (max-width: 480px) { .fl-node-5d24fd4193b05 > .fl-module-content { margin-top:20px; } } .fl-node-5d6f9b1334992 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
@media ( max-width: 480px ) {
 .fl-node-5d6f9b1334992.fl-module > .fl-module-content {
	margin-top:10px;
}
}
 .fl-node-5d6f9b182acc2 > .fl-module-content {
	margin-top:5px;
	margin-right:5px;
	margin-bottom:5px;
	margin-left:5px;
}
@media ( max-width: 480px ) {
 .fl-node-5d6f9b182acc2.fl-module > .fl-module-content {
	margin-bottom:15px;
}
}
 .fl-node-5d25969aca5ef > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d25969aca5fb > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:20px;
	margin-left:0px;
}
 .fl-node-5d6f9df52bfe7 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
@media ( max-width: 480px ) {
 .fl-node-5d6f9df52bfe7.fl-module > .fl-module-content {
	margin-left:0px;
}
}
 .fl-node-5d6f9d07bec31 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
@media ( max-width: 480px ) {
 .fl-node-5d6f9d07bec31.fl-module > .fl-module-content {
	margin-top:0px;
	margin-bottom:0px;
}
}
 .fl-node-5d6c2192becda > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
@media ( max-width: 480px ) {
 .fl-node-5d6c2192becda.fl-module > .fl-module-content {
	margin-top:0px;
}
}
 .fl-node-5d6f9d324b9cb > .fl-module-content {
	margin-top:-5px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
@media ( max-width: 480px ) {
 .fl-node-5d6f9d324b9cb.fl-module > .fl-module-content {
	margin-top:0px;
}
}
 .fl-node-5d700d0bb2fbf > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:13px;
}
@media ( max-width: 480px ) {
 .fl-node-5d700d0bb2fbf.fl-module > .fl-module-content {
	margin-left:10px;
}
}
 .fl-node-5d700d6b27cae > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d76a095672b1 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d2599f43fa81 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:15px;
	margin-left:0px;
}
@media ( max-width: 480px ) {
 .fl-node-5d2599f43fa81.fl-module > .fl-module-content {
	margin-top:15px;
	margin-bottom:15px;
}
}
 .fl-node-5d25abb2add54 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:15px;
	margin-left:0px;
}
 .fl-node-5d26441b02dea > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:15px;
	margin-left:0px;
}
 .fl-node-5d76a0bd1ee07 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:13px;
}
@media ( max-width: 480px ) {
 .fl-node-5d76a0bd1ee07.fl-module > .fl-module-content {
	margin-left:10px;
}
}
 .fl-node-5d76a0ded3a84 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:20px;
	margin-left:0px;
}
 .fl-node-5d206c6b639d2 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
@media ( max-width: 480px ) {
 .fl-node-5d206c6b639d2.fl-module > .fl-module-content {
	margin-left:0px;
}
}
 .fl-node-5d230cba5ed31 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d225087daa5e > .fl-module-content {
	margin-top:0px;
}
 .fl-node-5d26ebb2c949a > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d3569da950c5 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d26ec4322d85 > .fl-module-content {
	margin-top:0px;
}
 .fl-node-5d225075df81a > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d236a0c1c69d > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d279073cdb04 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d2790814a7f4 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d278f422e06c > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d278f422e078 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5d2a41498732c > .fl-module-content {
	margin-top:5px;
	margin-right:5px;
	margin-bottom:5px;
	margin-left:5px;
}
 .fl-node-5d2adc11ab991 > .fl-module-content {
	margin-top:0px;
	margin-right:15px;
	margin-bottom:15px;
	margin-left:15px;
}
 .fl-node-5d2adadc745c8 > .fl-module-content {
	margin-top:0px;
	margin-right:15px;
	margin-bottom:15px;
	margin-left:15px;
}
/* Equal height Column Bottom Alignment */
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
          -webkit-box-align: end;
           -webkit-box-pack: end;
              -ms-flex-pack: end;
}

/* H1-H6 Margin Reset in all Modules */
.uabb-module-content h1,
.uabb-module-content h2,
.uabb-module-content h3,
.uabb-module-content h4,
.uabb-module-content h5,
.uabb-module-content h6 {
    margin: 0;
    clear: both;
}

/* Anchor Tag Css */

.fl-module-content a,
.fl-module-content a:hover,
.fl-module-content a:focus {
    text-decoration: none;
}

/* Row Separator CSS */

.uabb-row-separator {
    position: absolute;
    width: 100%;
    left: 0;
}

.uabb-top-row-separator {
    top: 0;
    bottom: auto
}

.uabb-bottom-row-separator {
    top: auto;
    bottom: 0;
}

.fl-builder-content-editing .fl-visible-medium.uabb-row,
.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
.fl-builder-content-editing .fl-visible-mobile.uabb-row {
    display: none !important;
}

@media (max-width: 992px) {

    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: none !important;
    }

    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row {
        display: none !important;
    }

    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: block !important;
    }
}

/*.ult-main-seperator-inner {
    position: relative;
    height: 100%;
    width: 100%
}*/

.fl-responsive-preview-content .fl-builder-content-editing {
    overflow-x: hidden;
    overflow-y: visible;
}

.uabb-row-separator svg {
    width: 100%;
}

.uabb-top-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    top: -1px;
    bottom: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    bottom: -1px;
    top: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {
    bottom: 0;
}
.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {
    top: 0;
}

/**
 *
 *  Svg Triangle Separator
 *  Big Triangle Separator
 *  Big Triangle Left Separator
 *  Svg Half Circle Separator
 *  Curve Center Separator
 *  Waves Separator
 *  Stamp
 *  Grass
 *  Slime
 *  Grass Bend
 *  Wave Slide
 *  Muliple Triangles
 *  Pine Tree
 *  Pine Tree Bend
 *
 ***************************************/
.uabb-bottom-row-separator.uabb-svg-triangle svg,
.uabb-bottom-row-separator.uabb-xlarge-triangle svg,
.uabb-top-row-separator.uabb-xlarge-triangle-left svg,
.uabb-bottom-row-separator.uabb-svg-circle svg,
.uabb-top-row-separator.uabb-slime-separator svg,
.uabb-top-row-separator.uabb-grass-separator svg,
.uabb-top-row-separator.uabb-grass-bend-separator svg,
.uabb-bottom-row-separator.uabb-mul-triangles-separator svg,
.uabb-top-row-separator.uabb-wave-slide-separator svg,
.uabb-top-row-separator.uabb-pine-tree-separator svg,
.uabb-top-row-separator.uabb-pine-tree-bend-separator svg,
.uabb-bottom-row-separator.uabb-stamp-separator svg,
.uabb-bottom-row-separator.uabb-xlarge-circle svg,
.uabb-top-row-separator.uabb-wave-separator svg{
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

/*
 *  Big Triangle
*/
.uabb-bottom-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: scale(1) scaleY(-1) translateX(-50%);
       -moz-transform: scale(1) scaleY(-1) translateX(-50%);
        -ms-transform: scale(1) scaleY(-1) translateX(-50%);
         -o-transform: scale(1) scaleY(-1) translateX(-50%);
            transform: scale(1) scaleY(-1) translateX(-50%);
}

.uabb-top-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
       -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
         -o-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
}

/**
 *
 *  Big Triangle Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}

/**
 *
 *  Curve Left Separator
 *  Curve Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-curve-up-separator svg {
    left: 50%;
     -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-top-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}


/**
 *
 *  Tilt Left Separator
 *  Tilt Right Separator
 *
 ***************************************/

.uabb-top-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-top-row-separator.uabb-tilt-right-separator svg{
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-tilt-right-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}

.uabb-top-row-separator.uabb-tilt-left-separator,
.uabb-top-row-separator.uabb-tilt-right-separator {
    top: 0;
}

.uabb-bottom-row-separator.uabb-tilt-left-separator,
.uabb-bottom-row-separator.uabb-tilt-right-separator {
    bottom: 0;
}

/**
 *
 *  Clouds Separator
 *  Multi Triangle
 *  Arrow Inward
 *  Arrow Outward
 *
 ***************************************/

.uabb-top-row-separator.uabb-arrow-outward-separator svg,
.uabb-top-row-separator.uabb-arrow-inward-separator svg,
.uabb-top-row-separator.uabb-cloud-separator svg,
.uabb-top-row-separator.uabb-multi-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-multi-triangle svg {
    bottom: -2px;
}

.uabb-row-separator.uabb-round-split:after,
.uabb-row-separator.uabb-round-split:before {
    left: 0;
    width: 50%;
    background: inherit inherit/inherit inherit inherit inherit;
    content: '';
    position: absolute
}


/* Buttons
------------------------------------------------------ */

.uabb-button-wrap a,
.uabb-button-wrap a:visited {
    /*background: #fafafa;*/
    /*border: 1px solid #ccc;*/
    /* Need to delete later
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;*/
    /*color: #333;*/
    display: inline-block;
    font-size: 16px;
    /*font-weight: normal;*/
    line-height: 18px;
    /*padding: 12px 24px;*/
    text-decoration: none;
    text-shadow: none;
}
.uabb-button-wrap a *,
.uabb-button-wrap a:visited * {
    /*color: #333;*/
}
.fl-builder-content .uabb-button:hover {
    text-decoration: none;
}

.fl-builder-content .uabb-button-width-full .uabb-button {
    display: block;
    text-align: center;
}

.uabb-button-width-custom .uabb-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.fl-builder-content .uabb-button-left {
    text-align: left;
}
.fl-builder-content .uabb-button-center {
    text-align: center;
}
.fl-builder-content .uabb-button-right {
    text-align: right;
}

/*.fl-builder-content .uabb-button i {
    vertical-align: middle;
}*/

.fl-builder-content .uabb-button i,
.fl-builder-content .uabb-button i:before {
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    width: 1em;
    /*margin-right:8px;*/
}

.uabb-button .uabb-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-button .uabb-button-icon-before {
    margin-left: 0;
    margin-right: 8px;
}
.uabb-button .uabb-button-icon-no-text {
    margin: 0;
}
.uabb-button-has-icon .uabb-button-text {
    vertical-align: middle;
}

/* Icons
------------------------------------------------------ */

.uabb-icon-wrap {
    display: inline-block;
}
/*.uabb-icon {
    display: table-cell;
    vertical-align: middle;
}*/
.uabb-icon a {
    text-decoration: none;
}
.uabb-icon i {
    /*float: left;*/
    display: block;
}
.uabb-icon i:before {
    border: none !important;
    background: none !important;
}
.uabb-icon-text {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}
.uabb-icon-text *:last-child {
    margin: 0 !important;
    padding: 0 !important;
}
.uabb-icon-text a {
    text-decoration: none;
}

/* Photos
------------------------------------------------------ */

.uabb-photo {
    line-height: 0;
    position: relative;
    z-index: 2;
}
.uabb-photo-align-left {
    text-align: left;
}
.uabb-photo-align-center {
    text-align: center;
}
.uabb-photo-align-right {
    text-align: right;
}
.uabb-photo-content {
    border-radius: 0;
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.uabb-photo-content img {
    border-radius: inherit;
    display: inline;
    height: auto;
    max-width: 100%;
    width: auto;
}
.fl-builder-content .uabb-photo-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-photo-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.uabb-photo-caption {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.uabb-photo-caption-below {
    padding-bottom: 20px;
    padding-top: 10px;
}
.uabb-photo-caption-hover {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity = 0);
    padding: 10px 15px;
    position: absolute;
    right: 0;
    -webkit-transition:visibility 200ms linear;
    -moz-transition:visibility 200ms linear;
    transition:visibility 200ms linear;
}
.uabb-photo-content:hover .uabb-photo-caption-hover {
    opacity: 100;
    visibility: visible;
    /*filter: alpha(opacity = 100);*/
}

/* Panel & Buttons
------------------------------------------------------ */
.uabb-active-btn {
    background: #1e8cbe;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    color: white;
}
.fl-builder-bar .fl-builder-add-content-button {
    display: block !important;
    opacity: 1 !important;
}

/* Image Icon Object */
.uabb-imgicon-wrap .uabb-icon {
    display: block;
}
.uabb-imgicon-wrap .uabb-icon i{
    float: none;
}

/* Photo */


.uabb-imgicon-wrap .uabb-image {
    line-height: 0;
    position: relative;
}
.uabb-imgicon-wrap .uabb-image-align-left {
    text-align: left;
}
.uabb-imgicon-wrap .uabb-image-align-center {
    text-align: center;
}
.uabb-imgicon-wrap .uabb-image-align-right {
    text-align: right;
}
.uabb-imgicon-wrap .uabb-image-content {
    display: inline-block;
    border-radius: 0;
    line-height: 0;
    position: relative;
    max-width: 100%;
}
.uabb-imgicon-wrap .uabb-image-content img {
    display: inline;
    height: auto !important;
    max-width: 100%;
    width: auto;
    border-radius: inherit;
    box-shadow: none;
    box-sizing: content-box;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


/* Creative Button
___________________________________________________________________________*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    background: #fafafa;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    position: relative;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;

}

.uabb-creative-button-wrap a:focus {
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

.uabb-creative-button-wrap a .uabb-creative-button-text,
.uabb-creative-button-wrap a .uabb-creative-button-icon,
.uabb-creative-button-wrap a:visited .uabb-creative-button-text,
.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

/*.uabb-creative-button-wrap a *,
.uabb-creative-button-wrap a:visited * {
    color: #333;
}*/

.uabb-creative-button-wrap a:hover {
    text-decoration: none;
}

.uabb-creative-button-wrap .uabb-creative-button-width-full .uabb-creative-button {
    display: block;
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-width-custom .uabb-creative-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.uabb-creative-button-wrap .uabb-creative-button-left {
    text-align: left;
}
.uabb-creative-button-wrap .uabb-creative-button-center {
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-right {
    text-align: right;
}
.uabb-creative-button-wrap .uabb-creative-button i {
    font-size: 1.3em;
    height: auto;
    vertical-align: middle;
    width: auto;
}

.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-before {
    margin-right: 8px;
    margin-left: 0;
}
.uabb-creative-button-wrap.uabb-creative-button-icon-no-text .uabb-creative-button i {
    margin: 0;
}

.uabb-creative-button-wrap .uabb-creative-button-has-icon .uabb-creative-button-text {
    vertical-align: middle;
}






/*  Translate Button styles */

.uabb-creative-button.uabb-creative-transparent-btn {
    background: transparent;
}
.uabb-creative-button.uabb-creative-transparent-btn:after {
    content: '';
    position: absolute;
    z-index: 1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

/* transparent-fill-top, transparent-fill-bottom  */
.uabb-transparent-fill-top-btn:after,
.uabb-transparent-fill-bottom-btn:after {
    width: 100%;
    height: 0;
    left: 0;
}

/* transparent-fill-top */
.uabb-transparent-fill-top-btn:after {
    top: 0;
}
/* transparent-fill-bottom */
.uabb-transparent-fill-bottom-btn:after {
    bottom: 0;
}

/* transparent-fill-left, transparent-fill-right */
.uabb-transparent-fill-left-btn:after,
.uabb-transparent-fill-right-btn:after {
    width: 0;
    height: 100%;
    top: 0;
}

/* transparent-fill-left */
.uabb-transparent-fill-left-btn:after {
    left: 0;
}
/* transparent-fill-right */
.uabb-transparent-fill-right-btn:after {
    right: 0;
}


/* transparent-fill-center */
.uabb-transparent-fill-center-btn:after{
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

/*  transparent-fill-diagonal, transparent-fill-horizontal  */
.uabb-transparent-fill-diagonal-btn:after,
.uabb-transparent-fill-horizontal-btn:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
}

/*  transparent-fill-diagonal */
.uabb-transparent-fill-diagonal-btn{
    overflow: hidden;
}
.uabb-transparent-fill-diagonal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
       -moz-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
        -ms-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
         -o-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
            transform: translateX(-50%) translateY(-50%) rotate( 45deg );
}
/* transparent-fill-horizontal */
.uabb-transparent-fill-horizontal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}


/*  3D Button styles */
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

/*a.uabb-creative-threed-btn.uabb-animate_top-btn,
a.uabb-creative-threed-btn.uabb-animate_bottom-btn,
a.uabb-creative-threed-btn.uabb-animate_left-btn,
a.uabb-creative-threed-btn.uabb-animate_right-btn {
    -webkit-transition: all 200ms;
       -moz-transition: all 200ms;
        -ms-transition: all 200ms;
         -o-transition: all 200ms;
            transition: all 200ms;
} */

.perspective {
    -webkit-perspective: 800px;
       -moz-perspective: 800px;
            perspective: 800px;
            margin: 0;
}
.uabb-creative-button.uabb-creative-threed-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
}

.uabb-creative-button.uabb-creative-threed-btn {
    /*display: block;*/
    outline: 1px solid transparent;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/*  3D Button styles --- Animate to top */
.uabb-creative-threed-btn.uabb-animate_top-btn:after {
    height: 40%;
    left: 0;
    top: -40%;
    width: 100%;
    -webkit-transform-origin: 0% 100%;
       -moz-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: rotateX(90deg);
       -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
}

/*  3D Button styles --- Animate to bottom */
.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {
    width: 100%;
    height: 40%;
    left: 0;
    top: 100%;

    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateX(-90deg);
       -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
}

/*  3D Button styles --- Animate to Left */
.uabb-creative-threed-btn.uabb-animate_left-btn:after {
    width: 20%;
    height: 100%;
    left: -20%;
    top: 0;
    -webkit-transform-origin: 100% 0%;
       -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
            transform-origin: 100% 0%;


    -webkit-transform: rotateY(-60deg);
       -moz-transform: rotateY(-60deg);
        -ms-transform: rotateY(-60deg);
            transform: rotateY(-60deg);
}

/*  3D Button styles --- Animate to Right */
.uabb-creative-threed-btn.uabb-animate_right-btn:after {
    width: 20%;
    height: 100%;
    left: 104%;
    top: 0;
    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateY(120deg);
       -moz-transform: rotateY(120deg);
        -ms-transform: rotateY(120deg);
            transform: rotateY(120deg);
}


/* Animate Top */
.uabb-animate_top-btn:hover{
    -webkit-transform: rotateX(-15deg);
       -moz-transform: rotateX(-15deg);
        -ms-transform: rotateX(-15deg);
         -o-transform: rotateX(-15deg);
            transform: rotateX(-15deg);

}

/* Animate Bottom */
.uabb-animate_bottom-btn:hover{
    -webkit-transform: rotateX(15deg);
       -moz-transform: rotateX(15deg);
        -ms-transform: rotateX(15deg);
         -o-transform: rotateX(15deg);
            transform: rotateX(15deg);

}

/* Animate Left */
.uabb-animate_left-btn:hover{
    -webkit-transform: rotateY(6deg);
       -moz-transform: rotateY(6deg);
        -ms-transform: rotateY(6deg);
         -o-transform: rotateY(6deg);
            transform: rotateY(6deg);
}

/* Animate Right */
.uabb-animate_right-btn:hover{
    -webkit-transform: rotateY(-6deg);
       -moz-transform: rotateY(-6deg);
        -ms-transform: rotateY(-6deg);
         -o-transform: rotateY(-6deg);
            transform: rotateY(-6deg);

}




/*  Flat Button styles  */

/*  Common Classes  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn,
.uabb-creative-flat-btn.uabb-animate_to_left-btn,
.uabb-creative-flat-btn.uabb-animate_from_top-btn,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn {
    overflow: hidden;
    position: relative;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    bottom: 0;
    height: 100%;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    width: 100%;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_to_left-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_top-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn .uabb-button-text {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

/*  Making Icon position center  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*  Common Hover Classes */
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i {
    left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i {
    top: 0;
}


/*  Animate Icon to the right */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i {
    top: 0;
    left: -100%;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover .uabb-button-text {
    -webkit-transform: translateX(200%);
       -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
         -o-transform: translateX(200%);
            transform: translateX(200%);
}

/*  Animate Icon to the left */
.uabb-creative-flat-btn.uabb-animate_to_left-btn i {
    top: 0;
    left: 100%;
}

.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover .uabb-button-text {
    -webkit-transform: translateX(-200%);
       -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
         -o-transform: translateX(-200%);
            transform: translateX(-200%);
}


/*  Animate Icon From the Top */
.uabb-creative-flat-btn.uabb-animate_from_top-btn i {
    top: -100%;
    left: 0;
}

/*.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover span {
    -webkit-transform: translateY(500px);
       -moz-transform: translateY(500px);
        -ms-transform: translateY(500px);
         -o-transform: translateY(500px);
            transform: translateY(500px);*/

.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {
    -webkit-transform: translateY(400px);
       -moz-transform: translateY(400px);
        -ms-transform: translateY(400px);
         -o-transform: translateY(400px);
            transform: translateY(400px);
}

/*  Animate Icon From the Bottom */
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    top: 100%;
    left: 0;
}


/*.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover span {
    -webkit-transform: translateY(-500px);
       -moz-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
         -o-transform: translateY(-500px);
            transform: translateY(-500px);*/

.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {
    -webkit-transform: translateY(-400px);
       -moz-transform: translateY(-400px);
        -ms-transform: translateY(-400px);
         -o-transform: translateY(-400px);
            transform: translateY(-400px);
}

/* Media/Video CSS */
.uabb-tab-acc-content .wp-video, 
.uabb-tab-acc-content video.wp-video-shortcode, 
.uabb-tab-acc-content .mejs-container:not(.mejs-audio), 
.uabb-tab-acc-content .mejs-overlay.load,
.uabb-adv-accordion-content .wp-video, 
.uabb-adv-accordion-content video.wp-video-shortcode, 
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio), 
.uabb-adv-accordion-content .mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
}
.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) {
    padding-top: 56.25%;
}
.uabb-tab-acc-content .wp-video, 
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content .wp-video, 
.uabb-adv-accordion-content video.wp-video-shortcode {
    max-width: 100% !important;
}
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content video.wp-video-shortcode {
    position: relative;
}
.uabb-tab-acc-content .mejs-container:not(.mejs-audio) .mejs-mediaelement,
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) .mejs-mediaelement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.uabb-tab-acc-content .mejs-overlay-play,
.uabb-adv-accordion-content .mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
}
.fl-row-content-wrap .uabb-row-particles-background {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}
.uabb-col-particles-background {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}

/* Theme Button
------------------------------------------------------ */
/*.fl-builder-content a.uabb-button,
.fl-builder-content a.uabb-button:visited,
.fl-builder-content a.uabb-creative-button,
.fl-builder-content a.uabb-creative-button:visited*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
		
	
	
	
	}

.uabb-dual-button .uabb-btn,
.uabb-dual-button .uabb-btn:visited {
	 
		
	
	
	}


/* Responsive Js Breakpoint Css */

.uabb-js-breakpoint { 
	content:"default"; 
	display:none;
}
@media screen and (max-width: 768px) {
	.uabb-js-breakpoint {
		content:"768";
	}
}

@media screen and (max-width: 480px) {
	.uabb-js-breakpoint {
		content:"480";
	}
}



                                
        
                                
        
        .fl-builder-row-settings #fl-field-separator_position {
            display: none !important;
        }
        
        
        .fl-builder-row-settings #fl-field-separator_position {
            display: none !important;
        }
        
        
        
        
        
        
        
        
        
        
		
        
		
        
		
        
		
        .fl-node-5d76a095672b1 .pp-content-grid-post {
  font-size: 14px;
}
.fl-node-5d76a095672b1 .pp-content-grid-post-image {
  padding: 20px;
  padding-bottom: 0;
}
.fl-node-5d76a095672b1 .pp-content-grid-post-text {
  padding: 20px;
}
.fl-node-5d76a095672b1 .pp-content-grid-post-title {
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
.fl-node-5d76a095672b1 .pp-content-grid-post-meta {
  padding: 0;
}
.fl-node-5d76a095672b1 .pp-content-grid-post-meta a {
  text-decoration: none;
}
.fl-node-5d76a095672b1 .pp-content-grid-post-meta,
.fl-node-5d76a095672b1 .pp-content-grid-post-meta a {
  color: #888;
  font-size: 12px;
}
.fl-node-5d76a095672b1 .pp-content-grid-post-meta a:hover {
  color: #000;
}
.fl-node-5d76a095672b1 .pp-content-grid-separator {
  min-height: 2px;
  width: 60px;
  background: #000;
  margin-top: 10px;
  margin-bottom: 20px;
}
.fl-node-5d3569da950c5 .pp-content-grid-post {
  font-size: 14px;
}
.fl-node-5d3569da950c5 .pp-content-grid-post-image {
  padding: 20px;
  padding-bottom: 0;
}
.fl-node-5d3569da950c5 .pp-content-grid-post-text {
  padding: 20px;
}
.fl-node-5d3569da950c5 .pp-content-grid-post-title {
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
.fl-node-5d3569da950c5 .pp-content-grid-post-meta {
  padding: 0;
}
.fl-node-5d3569da950c5 .pp-content-grid-post-meta a {
  text-decoration: none;
}
.fl-node-5d3569da950c5 .pp-content-grid-post-meta,
.fl-node-5d3569da950c5 .pp-content-grid-post-meta a {
  color: #888;
  font-size: 12px;
}
.fl-node-5d3569da950c5 .pp-content-grid-post-meta a:hover {
  color: #000;
}
.fl-node-5d3569da950c5 .pp-content-grid-separator {
  min-height: 2px;
  width: 60px;
  background: #000;
  margin-top: 10px;
  margin-bottom: 20px;
}
